<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884205281812-1u0e6csschmbtrff8o7iaj5r1675buhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884205281812-1u0e6csschmbtrff8o7iaj5r1675buhs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>884205281812-6n5rgm5gijih9l5cr9vs0fgp69d97b3l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_xrLriZvRc9z9XceBDnqeopv8ZU5huvM</string>
	<key>GCM_SENDER_ID</key>
	<string>884205281812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TCi.l2tHedera</string>
	<key>PROJECT_ID</key>
	<string>l2t-hedera</string>
	<key>STORAGE_BUCKET</key>
	<string>l2t-hedera.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884205281812:ios:715aead558638f58d53d01</string>
</dict>
</plist>